/* =========================
   GLOBAL
========================= */
:root {
    --primary: #dc4f72;
    --title-color: #2c3038;
    --text-color: #5a5a5a;
    --bg-color: #ffffff;
    --light-bg: #f7f9fc;
}

body {
    font-family: "Nunito", sans-serif;
    color: var(--text-color);
    background: var(--bg-color);
}



a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}


/* =========================
   CONTENT LEFT - CONTENT PHOTO
========================= */
.content-left h1{
    font-size:50px;
    line-height:57px;
    font-weight:700;
    color:var(--title-color);
}

.content-left p{
    font-size:20px;
    line-height:28px;
    color:var(--text-color);

    margin-top:1rem;
    margin-bottom:3rem;
}

.content-photo img{
    max-width:100%;
}
/* =========================
   HEADER
========================= */

.main-header {
    background: var(--bg-color);
    box-shadow: 0 3px 9px rgb(0 0 0 / 5%);
}

.header-navbar {
    padding: 10px 0;
}

.navbar-brand {
    margin: 0;
    padding: 0;
    color: var(--primary);
    font-size: 26px;
    font-weight: 700;
    letter-spacing: -1px;
}

.navbar-brand:hover {
    color: var(--primary);
}

.navbar-brand span {
    margin-right: 8px;
}

/* Nav Link */
.navbar-nav .nav-link {
    position: relative;
    font-size: 16px;
    font-weight: 400;
    color: var(--title-color);
    padding: 14px 0;
    margin: 0 15px;
    transition: all .5s ease;
}

.navbar-nav .nav-link::before {
    content: "";
    position: absolute;
    left: 0;
    width: 0;
    height: 2px;

    background: var(--primary);

    bottom: 13px;

    transition: all .5s;
}

.navbar-nav .nav-link:hover::before {
    width: 20px;
}

.navbar-nav .nav-link:hover {
    color: var(--title-color);
}

.navbar-nav .nav-link.active {
    color: var(--primary);
}


/* =========================
   DROPDOWN
========================= */

.dropdown-menu {
    margin-top: 10px;
    min-width: 180px;
    border: none;
    border-radius: 8px;
    box-shadow: 0 10px 30px rgb(0 0 0 / 8%);
    padding: 8px 0;
}

.dropdown-item {
    font-size: 16px;
    color: var(--title-color);
    padding: 10px 24px;
    transition: color .3s;
}

.dropdown-item:hover {
    color: var(--primary);
    background: transparent;
}

.dropdown-item:focus {
    color: var(--primary);
    background: transparent;
}


/* =========================
   SEARCH
========================= */

.search {
    margin-left: 20px;
}

.search a {
    width: 40px;
    height: 40px;
    font-size: 16px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;

    background: var(--light-bg);

    color: var(--text-color);

    transition: all .5s;
}

.search a:hover {
    color: var(--title-color);
}


/* =========================
   BUTTON
========================= */

.header-button {
    margin-left: 16px;
}

.theme-button {
    color: var(--primary);
    border-color: var(--primary);

    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;

    padding: 0.875rem 1.875rem;

    border-radius: 6px;

    transition: all .5s;
}

.theme-button:hover {
    background: var(--primary);
    border-color: var(--primary);
    color: #fff;
}

.theme-button:focus {
    box-shadow: none;
}

/* =========================
   THEME TOGGLE
========================= */

.theme-toggle {
    margin-left: 12px;
}

.theme-label {
    cursor: pointer;
}

.theme-label input {
    display: none;
}

.theme-icons {
    width: 40px;
    height: 40px;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
}

.theme-icons i {
    position: absolute;
    transition: opacity .3s;
}

.theme-icons .gg-sun {
    opacity: 0;
}

.theme-icons .gg-moon {
    opacity: 1;
}

.theme-label input:checked+.theme-icons .gg-sun {
    opacity: 1;
}

.theme-label input:checked+.theme-icons .gg-moon {
    opacity: 0;
}

/* =========================
   HERO
========================= */

.hero-content {
    display: grid;
    align-items: center;

    background:
        linear-gradient(to right,
            var(--bg-color),
            rgba(255, 255, 255, .92)),
        url("../img/banner.jpg");

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    overflow: hidden;
    position: relative;

    padding-top: 8rem;
}